@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  @apply bg-gray-50;
}

input {
  @apply px-2;
}
  .fc-header-toolbar {
    display: inline-block;
    font-size: 10px;
    padding: 4px 4px;
    @apply space-x-8;
}

.fc-day {
  @apply m-8;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  @apply w-full h-full lg:h-3/4 xl:h-2/3 bg-white;
}

.fc-h-event {
  @apply bg-red-500 border border-orange-600 ;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-violet-100 ;
}

.fc .fc-button{
  @apply bg-orange-500 hover:bg-orange-600  ;

}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-orange-600;
  
}

.fc .fc-button-primary:disabled {
  @apply bg-orange-600;
}
.fc-v-event {
  @apply bg-orange-500 border border-orange-600 ;
  
}

/* ia  */
.fc-daygrid-day {
  @apply bg-gray-200;
  @apply border-b border-gray-300;
  @apply p-2;
}

.fc-daygrid-day.fc-day-today {
  @apply bg-violet-100;
}

.fc-daygrid-day.fc-day-today:hover {
  @apply bg-orange-200;
}

.fc-daygrid-day.fc-day-today:active {
  @apply bg-orange-300;
}

.fc-daygrid-day.fc-day-today:focus {
  @apply bg-orange-400;
}

.fc-daygrid-day.fc-day-today:focus:hover {
  @apply bg-orange-500;
}

.fc-daygrid-day.fc-day-today:focus:active {
  @apply bg-orange-600;
}

.fc-daygrid-day.fc-day-today:focus:visited {
  @apply bg-orange-700;
}

.fc-daygrid-day.fc-day-today:focus:visited:hover {
  @apply bg-orange-800;
}

.fc-daygrid-day.fc-day-today:focus:visited:active {
  @apply bg-orange-900;
}

.fc-dayGridMonth-view .fc-day {
  /* Estilos para los días en la vista month */
  @apply border-none rounded-3xl ; 
  
}
