.fc {
    /* the calendar root */
    max-width: 1100px;
    font-weight: bold;
    font-size: 0.65rem;
    margin: 0 auto;

  }
  
  .fc-button-primary {
    background-color: #ed6f37 !important;
    border-color: #ed6f37 !important;
    color: white !important;
  }
  
  /* Cambiar el color de los eventos */
  .fc-event-main {
    background-color: #ed6f37 !important;
    box-shadow: 0 0 0 1px #000, 0 0 2px #000; /* Cambia el color del contorno a negro y agrega sombra */
    border-radius: 2px; /* Agrega curva a los bordes */
    color: white !important;
  }

  .fc-daygrid-day {
    border-radius: 0 !important; /* Elimina las puntas curvadas */
    background-color: #f0f0f0; /* cambiar color fondo de los dias*/
  }
  
  .fc-day-header {
    background-color: #ed6f37; /* Cambia el color de fondo de la fila de días definidos */
  }